@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Neucha&display=swap');
/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

body{
    background-color: #041014;
    color: #fff;
}
.magicpattern {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22a%22%3E%3CfeTurbulence result=%22TURBULENCE%22 baseFrequency=%22.083%22 seed=%221%22%2F%3E%3CfeDisplacementMap in=%22SourceGraphic%22 in2=%22TURBULENCE%22 scale=%2220%22%2F%3E%3C%2Ffilter%3E%3Cfilter id=%22b%22%3E%3CfeOffset dy=%2250%22 result=%22OFFSET-3%22%2F%3E%3C%2Ffilter%3E%3Cfilter id=%22c%22 x=%22-500%22 y=%22-500%22 width=%222000%22 height=%222000%22 filterUnits=%22userSpaceOnUse%22%3E%3CfeFlood flood-color=%22%23fff%22 result=%22neutral-gray%22%2F%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22NOISE%22%2F%3E%3CfeColorMatrix in=%22NOISE%22 type=%22saturate%22 values=%220%22 result=%22DESATURATED_NOISE%22%2F%3E%3CfeComponentTransfer in=%22DESATURATED_NOISE%22 result=%22THE_NOISE%22%3E%3CfeFuncA type=%22table%22 tableValues=%220 0 0.3 0%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22THE_NOISE%22 mode=%22soft-light%22 result=%22NOISY_IMAGE%22%2F%3E%3C%2Ffilter%3E%3Cmask id=%22d%22%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h1000v1000H0z%22%2F%3E%3Ccircle cx=%22496%22 cy=%22626%22 r=%228%22 filter=%22url(%23a)%22%2F%3E%3Ccircle cx=%22729%22 cy=%22318%22 r=%226%22 filter=%22url(%23a)%22%2F%3E%3Ccircle cx=%22233%22 cy=%22224%22 r=%228%22 filter=%22url(%23a)%22%2F%3E%3Ccircle cx=%22551%22 cy=%22443%22 r=%229%22 filter=%22url(%23a)%22%2F%3E%3Cg filter=%22url(%23b)%22%3E%3Cpath fill=%22none%22 stroke-width=%226%22 stroke=%22%23000%22 d=%22M853 708Q734.611 902.995 506.5 905%22 filter=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Cg filter=%22url(%23b)%22%3E%3Cpath fill=%22none%22 stroke-width=%229%22 stroke=%22%23000%22 d=%22M137.5 697q-113.497-198.407-3-398.5%22 filter=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Cg filter=%22url(%23b)%22%3E%3Cpath fill=%22none%22 stroke-width=%227%22 stroke=%22%23000%22 d=%22M500 97q218.204 25.38 349.5 201.5%22 filter=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cg filter=%22url(%23c)%22 mask=%22url(%23d)%22%3E%3Cpath filter=%22url(%23a)%22 fill=%22%23444cf7%22 d=%22M853 708Q740 916 506.5 905t-369-208Q2 500 134.5 298.5T500 97q233 0 349.5 201.5T853 708Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
